
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Tasky</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header >
        <nav class="navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: #acd4f7;">

            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span style="color:white;font-size:40px;">Tasky</span></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                @if (User.Identity.IsAuthenticated)
                {
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" asp-controller="Home" asp-action="dashboard">Home</a>
                        <a class="nav-item nav-link" asp-controller="Tasks" asp-action="Index">Tasks</a>
                        <a class="nav-item nav-link" asp-controller="Categories" asp-action="Index">Categories</a>
                    </div>
                }

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item d-flex align-items-center">
                        <a class="nav-link ms-2" asp-controller="Account" asp-action="Login">Login</a>
                        <a class="nav-link" asp-controller="Account" asp-action="Register">Register</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>

    <div class="container-fluid p-0 m-0">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted mt-5">
        <div class="container text-center">
            &copy; @DateTime.Now.Year - Tasky
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
